Awesome/AwesomeClient/Service References/ServiceReference/AwesomeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AwesomeService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AwesomeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Reservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateReserved" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MovieId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeatCount" type="xs:int" />
      <xs:element minOccurs="0" name="Taken" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reservation" nillable="true" type="tns:Reservation" />
  <xs:complexType name="Room">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cols" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Rows" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Room" nillable="true" type="tns:Room" />
</xs:schema>