trunk/Awesome/AwesomeClient/Service References/ServiceReference/AwesomeServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AwesomeServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AwesomeServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Reservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Movie" nillable="true" type="tns:Movie" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomId" type="xs:int" />
      <xs:element minOccurs="0" name="Taken" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Tickets" nillable="true" type="tns:ArrayOfTicket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reservation" nillable="true" type="tns:Reservation" />
  <xs:complexType name="Movie">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Reservations" nillable="true" type="tns:ArrayOfReservation" />
      <xs:element minOccurs="0" name="RoomMovies" nillable="true" type="tns:ArrayOfRoomMovie" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Movie" nillable="true" type="tns:Movie" />
  <xs:complexType name="ArrayOfReservation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reservation" nillable="true" type="tns:Reservation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservation" nillable="true" type="tns:ArrayOfReservation" />
  <xs:complexType name="ArrayOfRoomMovie">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomMovie" nillable="true" type="tns:RoomMovie" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoomMovie" nillable="true" type="tns:ArrayOfRoomMovie" />
  <xs:complexType name="RoomMovie">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateAndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Movie" nillable="true" type="tns:Movie" />
      <xs:element minOccurs="0" name="MovieId" type="xs:int" />
      <xs:element minOccurs="0" name="Room" nillable="true" type="tns:Room" />
      <xs:element minOccurs="0" name="RoomId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomMovie" nillable="true" type="tns:RoomMovie" />
  <xs:complexType name="Room">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cols" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="RoomMovies" nillable="true" type="tns:ArrayOfRoomMovie" />
      <xs:element minOccurs="0" name="RoomSeats" nillable="true" type="tns:ArrayOfRoomSeat" />
      <xs:element minOccurs="0" name="Rows" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Room" nillable="true" type="tns:Room" />
  <xs:complexType name="ArrayOfRoomSeat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomSeat" nillable="true" type="tns:RoomSeat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoomSeat" nillable="true" type="tns:ArrayOfRoomSeat" />
  <xs:complexType name="RoomSeat">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColNo" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Room" nillable="true" type="tns:Room" />
      <xs:element minOccurs="0" name="RoomId" type="xs:int" />
      <xs:element minOccurs="0" name="RowNo" type="xs:int" />
      <xs:element minOccurs="0" name="Seat" nillable="true" type="tns:Seat" />
      <xs:element minOccurs="0" name="SeatId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomSeat" nillable="true" type="tns:RoomSeat" />
  <xs:complexType name="Seat">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="No" type="xs:int" />
      <xs:element minOccurs="0" name="RoomSeats" nillable="true" type="tns:ArrayOfRoomSeat" />
      <xs:element minOccurs="0" name="Usable" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Seat" nillable="true" type="tns:Seat" />
  <xs:complexType name="ArrayOfTicket">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ticket" nillable="true" type="tns:Ticket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicket" nillable="true" type="tns:ArrayOfTicket" />
  <xs:complexType name="Ticket">
    <xs:sequence>
      <xs:element minOccurs="0" name="Discount" nillable="true" type="tns:Discount" />
      <xs:element minOccurs="0" name="DiscountId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PaidAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Reservation" nillable="true" type="tns:Reservation" />
      <xs:element minOccurs="0" name="ReservationId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ticket" nillable="true" type="tns:Ticket" />
  <xs:complexType name="Discount">
    <xs:sequence>
      <xs:element minOccurs="0" name="DPercent" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Tickets" nillable="true" type="tns:ArrayOfTicket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Discount" nillable="true" type="tns:Discount" />
  <xs:complexType name="ArrayOfSeat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Seat" nillable="true" type="tns:Seat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeat" nillable="true" type="tns:ArrayOfSeat" />
</xs:schema>