trunk/Awesome/AwesomeClient/Service References/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AwesomeServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_createReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:createReservation" />
  </wsdl:message>
  <wsdl:message name="IService_createReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:createReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_createMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:createMovie" />
  </wsdl:message>
  <wsdl:message name="IService_createMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:createMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IService_createRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:createRoom" />
  </wsdl:message>
  <wsdl:message name="IService_createRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:createRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IService_createTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:createTicket" />
  </wsdl:message>
  <wsdl:message name="IService_createTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:createTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="createReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/createReservation" message="tns:IService_createReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/createReservationResponse" message="tns:IService_createReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/createMovie" message="tns:IService_createMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/createMovieResponse" message="tns:IService_createMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/createRoom" message="tns:IService_createRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/createRoomResponse" message="tns:IService_createRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/createTicket" message="tns:IService_createTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/createTicketResponse" message="tns:IService_createTicket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createReservation">
      <soap:operation soapAction="http://tempuri.org/IService/createReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createMovie">
      <soap:operation soapAction="http://tempuri.org/IService/createMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createRoom">
      <soap:operation soapAction="http://tempuri.org/IService/createRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createTicket">
      <soap:operation soapAction="http://tempuri.org/IService/createTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost/AwesomeService/Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>