trunk/Awesome/AwesomeClient/Service References/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AwesomeServer" />
  <xs:element name="createReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AwesomeServer" minOccurs="0" name="reservation" nillable="true" type="q1:Reservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createReservationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AwesomeServer" minOccurs="0" name="movie" nillable="true" type="q2:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createMovieResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AwesomeServer" minOccurs="0" name="room" nillable="true" type="q3:Room" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createRoomResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AwesomeServer" minOccurs="0" name="ticket" nillable="true" type="q4:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createTicketResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>